[Unit]
Description=New Relic Infrastructure Database integration
After=syslog.target

[Service]
Type=simple
WorkingDirectory=@installdir@
ExecStart=./bin/nri-db
MemoryLimit=1G
Restart=always
RestartSec=20
StartLimitInterval=0
StartLimitBurst=5
Environment="JAVA_OPTS=-Xmx512m CLASSPATH=@dbdriverpath@"

[Install]
WantedBy=multi-user.target
